#mustang_image{
    float:right;
    width:400px;
    height: 220px;
    margin-top:20px;
}
 
body{
    font-size: larger;
    margin-left: 20px;
    margin-top: 30px;
}

.link{
   color:darkred; 
}

#supportLink{
    color:coral;
}

.List{
    margin-left: 30px;
}

#ProConTitle{
    background-color: black;
    color: aliceblue;
    width: 150px;
}

.selectBox{
    margin-left: 70px;
}
