@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --bg-dark: #2e3532;
  --bg-light: #62e5e3;
  --text-dark: #badefc;
  --text-light: #2b50aa;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-light) !important;
  color: var(--text-light) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-mode {
  background-color: var(--bg-dark) !important;
  color: var(--text-dark) !important;
}
